
<body>
<header>
  <h1> Task Management Survey </h1>
</header>
<section id='survey'>
<form action="/survey/create" method="post">

    <div class="questions">
      <ul>
        <ol><h4>What is your Name?</h4>
          <input type="text" name="name" value="" ></ol></br>
        <ol><h4>What is your Age?</h4>
          <input type="text" name="age" value="" ></ol></br>
        <ol><h4>What is your Gender?</h4>
          <input type="radio" name="gender" value="Female"> Female </br>
          <input type="radio" name="gender" value="Male"> Male </ol></br>
        <ol><h4>What software do you use to store tasks/items to do?</h4>
          <input type="checkbox" name="software" value="Evernote"> Evernote</br>
          <input type="checkbox" name="software" value="Googe Drive"> Google Drive</br>
          <input type="checkbox" name="software" value="Github"> Github</br>
          <input type="checkbox" name="software" value="Excel"> Excel</ol></br>
        <ol><h4>Have you used any other software than the above? If so, what?</h4>
          <input type="text" name="otherSoftware" ></ol></br>
        <ol><h4>What feature(s) do you love about your software?</h4>
          <input type="text" name="features" ></ol></br>
        <ol><h4>What feature(s) do you wish you could have?</h4>
          <input type="text" name="wantedFeatures" ></ol></br>

          <input id="submit button" type="submit" value="Submit Survey"></input>
      </ul>

    </div>


</form>
</section>
<footer>Lidibidi Surveys &copy 2016</footer>
</body>
